@import "lib/vars";
@import "lib/mixins";
@import "lib/reboot";
@import "lib/fontawesome/font-awesome";
@import "lib/fontface";
@import "lib/keyframes";

$corporateColor: tomato;

// * {
//     border: 1px solid $corporateColor;
// }

html,
body {
    font-size: $base * 2;
    font-family: $font_family_base;
    line-height: $base * 3;
    color: white;
}

.quien {
    background-color: rgb(20, 20, 20);
    height: 110vh;
    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .home_holder {
            max-width: 1080px;
            .logo {
                display: flex;
                justify-content: center;
                img{
                    width: 400px;

                }
                
            }
            .home_grid {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-gap: $base * 2 $base * 3;
                position: relative;

                .character_holder {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-radius: 20px;
                    position: relative;
                    perspective: 500;
                    user-select: none;
                    cursor: pointer;

                    .character {
                        transform-style: preserve-3d;
                        transition: 0.7s ease;

                        
                    &.flip {
                        transform-style: preserve-3d;
                        transition: 0.7s ease;
                        transform: rotateY(180deg);

                    }

                        .front {

                            
                            img {
                                width: 140px;
                                height: 140px;
                                border-radius: 20px;
                                
                            }

                            .name {
                                margin: 0;
                                text-align: center;
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                left: 0;
                                color: rgb(0, 0, 0);
                                background-color: rgba(255, 255, 255, 0.5);
                                backdrop-filter: blur(3px);
                                padding: $base * 0.5 0;
                                border-radius: 0 0 20px 20px;

                            }
                        }

                        .back {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            top: 0;
                            transform: rotateY(180deg);
                            backface-visibility: hidden;
                            border-radius: 20px;



                            .bg {
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                right: 0;
                                left: 0;
                                color: white;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: rgba(0, 0, 0, 0.8);
                                z-index: 4;
                                border-radius: 20px;
                            }

                            img {
                                width: 140px;
                                height: 140px;
                                border-radius: 20px;
                                transform: rotateY(180deg);

                            }
                        }
                    }
                }
                
            }

            .plantilla {
                position: absolute;
                top: 5em;
                right: 4em;
            }

            .answer {
                position: absolute;
                bottom: 3em;
                right: 4em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .character_holder {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-radius: 20px;
                    overflow: hidden;

                    .character {
                        position: relative;

                        img {
                            width: 140px;
                            height: 140px;
                            background-color: whitesmoke;
                        }
                        .name {
                            color: rgb(0, 0, 0);
                            margin: 0;
                            text-align: center;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            left: 0;
                            background-color: rgba(255, 255, 255, 0.5);
                            backdrop-filter: blur(3px);
                            padding: $base * 0.5 0;
                        }
                    }
                }
            }
        }
    }
}

.button {
    padding: $base;
    border-radius: 10px;
    color: white;
    background-color: rgb(71, 71, 71);
    margin-top: $base;
}
.button:hover {
    background-color: rgb(59, 59, 59);
    color: white;
}
a {
    color: white;
}




